#myCanvas {
    padding-left: 0;
    padding-right: 0;
    margin:auto;
    display: none;
    border:4px solid;
    border-color: #d3d3d3;
    background-color: white;
    

}

#score{
	display: none;
	margin-top: auto;
	margin-bottom: auto;
	width: 100px;
	height: 70px;
	font-size: 50px;
}


#start{
	display: none;
	color: #F8FDFF;
	font-size: 20px;
    text-align: left;
    margin-top: 20px;

}

.heading{
	font-size: 30px;
	color:#EA5F0B;
	text-align: center;
	margin:auto;
	text-decoration: underline;

}

p{
	margin:auto;
	text-align: center;
}


#countdown{
	display:block;
	margin: auto;
	width: 50px;
	height: 20px;
	font-size: 30px;
	color: #F91208;

}

#levels{
	/*display: block;*/
	margin-top: 18.9vw;
}


#level1{
	
	padding: 20px;
	font-family: 'Orbitron', sans-serif;
	border:2px solid #EA5F0B;
	border-radius: 10px;
	cursor: pointer;
    color:#EA5F0B;

}


#level2{
	
	padding: 20px;
	font-family: 'Orbitron', sans-serif;
	align-self: center;
	border:2px solid #EA5F0B;
	border-radius: 10px;
	margin: 0 auto;
	cursor: pointer;
    color:#EA5F0B;


}



#level3{
	
	padding: 20px;
	font-family: 'Orbitron', sans-serif;
	align-self: center;
	border:2px solid #EA5F0B;
	border-radius: 10px;
	cursor: pointer;
    color:#EA5F0B;

}

#level1:hover{
	
	
	border:2px solid #F8FDFF;
	border-radius: 10px;
	cursor: pointer;
    background-color: #EA5F0B;
    color:#F8FDFF;
}


#level2:hover{
	
	
	border:2px solid #F8FDFF;
	border-radius: 10px;
	cursor: pointer;
    background-color: #EA5F0B;
    color:#F8FDFF;
}


#level3:hover{
	
	
	border:2px solid #F8FDFF;
	border-radius: 10px;
	cursor: pointer;
    background-color: #EA5F0B;
    color:#F8FDFF;
}




	



body{
	
   background: url(back_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: scroll;
  margin:0px;

}

#game_name{
	display: block;
	align-items: center;
	font-family: 'Orbitron', sans-serif;
	font-weight: bolder;
	color: #F8FDFF;
	font-size:5.9vw;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 100%;
	height: 100px;
	align-self: center;
	text-align: center;
}

#lost_session{
	display: none;
	font-size: 20px;
	color:#EA5F0B;
	text-align: center;
	margin:0
}